<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create an Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
		<ion-item>
			<ion-label stacked>Email</ion-label>
			<ion-input #email formControlName="email" type="email" placeholder="Your email address" 
			[class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
		</ion-item>
		<ion-item class="error-message" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
			<p>Please enter a valid email.</p>
		</ion-item>
		<ion-item>
			<ion-label stacked>Password</ion-label>
			<ion-input #password formControlName="password" type="password" placeholder="Your password"
			[class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
			</ion-input>
		</ion-item>
		<ion-item class="error-message" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
			<p>Your password needs more than 6 characters.</p>
		</ion-item>
		<button ion-button block type="submit">
			Create an Account
		</button>
	</form>
</ion-content>

<!--<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Signup</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="login-page">

	<div class="logo">
		<img src="assets/img/appicon.svg" alt="Ionic Logo">
	</div>

	<form #signupForm="ngForm" novalidate>
		<ion-list no-lines>
			<ion-item>
				<ion-label stacked color="primary">Username</ion-label>
				<ion-input [(ngModel)]="signup.username" name="username" type="text" #username="ngModel" required>
				</ion-input>
			</ion-item>
			<p [hidden]="username.valid || submitted == false" color="danger" padding-left>
				Username is required
			</p>

			<ion-item>
				<ion-label stacked color="primary">Password</ion-label>
				<ion-input [(ngModel)]="signup.password" name="password" type="password" #password="ngModel" required>
				</ion-input>
			</ion-item>
			<p [hidden]="password.valid || submitted == false" color="danger" padding-left>
				Password is required
			</p>
		</ion-list>

		<div padding>
			<button ion-button (click)="onSignup(signupForm)" type="submit" block>Create</button>
		</div>
	</form>

</ion-content>-->
