<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateProject()">
    <!--<ion-segment [(ngModel)]="segment">-->
      <ion-segment-button value="all">
        All - Projects
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorite  - Projects
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateProject()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content project-list">
  <ion-card #cardProject *ngFor="let project of projects | async" class="speaker-card" [hidden]="project.hide">
    <ion-card-header>
      <button ion-item detail-none (click)="goToProjectDetail(project)">
        <ion-thumbnail item-left>
          <img [src]="project.profilePic" alt="Project profile pic">
        </ion-thumbnail>
          <h2>{{project.name}}</h2>
        <br />
          <h4>{{project.tech}}</h4>
      </button>
    </ion-card-header>

    <ion-card-content class="outer-content">
      <ion-list>
        <button ion-item *ngFor="let project of project.sessions" (click)="goToSessionDetail(session)">
          <h3>{{project.name}}</h3>
        </button>

        <button ion-item (click)="goToProjectDetail(project)">
          <h3>About {{project.name}}</h3>
        </button>
      </ion-list>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col text-left>
        <button ion-button clear small color="primary" icon-left (click)="addFavorite(cardProject, project)" *ngIf="segment === 'all'">
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
        <button ion-button clear small color="primary" icon-left (click)="removeFavorite(cardProject, project)" *ngIf="segment === 'favorites'">
          <ion-icon name='star'></ion-icon>
          Remove
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="primary" icon-left (click)="openSpeakerShare(speaker)">
          <ion-icon name='share-alt'></ion-icon>
         Share
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="primary" icon-left (click)="openContact(speaker)">
          <ion-icon name='chatboxes'></ion-icon>
          Contact
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
  <!--</ion-list>-->
  <!--<ion-list-header [hidden]="shownProjects > 0">-->
  <!--<ion-list-header [hidden]= {{ (projects | async)?.length > 0 }}>
    <p>{{(projects|async)?.length}}</p>
    <p>No Projects Found</p>
  </ion-list-header>-->

</ion-content>


